{% extends 'app/base.html' %}
<table>

</table>
{% block content %}
    
    <table>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date Created</th>
    </tr>
        {% for task in tasks %}
            <div class="task">
                <tr>
                    <td><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></td>
                    <td>{{ task.text|linebreaksbr }}</td>
                    <td>{{task.created_date|date:"d M Y"}} {{task.created_date|time:"h:i A"}}</td>
                    <td><a class="btn btn-default" href="{% url 'todo_edit' pk=task.pk %}">Edit</span></a></td>
                    <td><a class="btn btn-default" href="{% url 'todo_remove' pk=task.pk %}">Delete</span></a></td>
                </tr>
            </div>
            {% endfor %}
    </table>    
{% endblock %}